<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trysurfer.surfer" >

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Network State Permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- Disable Keyguard Permission -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Receive Boot-completed Permission -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Access fine location Permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="standard"
        android:theme="@style/AppTheme" >

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SCREENLOCK ACTIVITY (old) -->
        <activity
            android:name=".screenlock.ScreenLockActivity"
            android:label="@string/title_activity_screenlock"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <!-- SCREENLOCK ACTIVITY (older) -->
        <activity
            android:name=".screenlock.ScreenLockActivityOld"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <!-- FACEBOOK LOGINACTIVITY -->
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:launchMode="singleInstance"
            android:value="@string/app_id" />

        <!-- SCREENLOCK RECEIVER -->
        <receiver
            android:name=".receiver.ScreenLockReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- SCREENLOCK SERVICE -->
        <service android:name=".screenlock.ScreenLockService" >
        </service>

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <!-- ADMOBLOCKSCREEN ACTIVITY (main) -->
        <activity
            android:name=".screenlock.AdMobLockScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/TestTheme" />

        <!-- ADMOBLOCKSCREEN ACTIVITY (interstitial) -->
        <activity
            android:name=".screenlock.InterstitialAdMobLockScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <!-- AdformLockScreen (test) -->
        <activity
            android:name=".screenlock.Adform"
            android:label="@string/app_name" />


        <!-- Adform -->
        <activity
            android:name="com.adform.sdk.activities.AdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- INTRO ACTIVITY -->
        <activity
            android:name=".IntroActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" />

        <!-- INTERESTS ACTIVITY -->
        <activity
            android:name=".user.InterestsActivity"
            android:label="@string/title_activity_interests"
            android:theme="@style/AppTheme" >
        </activity>

        <!-- WITHDRAW ACTIVITY -->
        <activity
            android:name=".user.WithdrawActivity"
            android:label="@string/title_activity_withdraw"
            android:theme="@style/AppTheme" >
        </activity>

        <!-- SETTINGS ACTIVITY -->
        <activity
            android:name=".user.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" >
        </activity>

        <!-- LOCATION RECEIVER -->
        <receiver android:name=".LocationReceiver">

        </receiver>

        <!-- LOCATIONBOOT RECEIVER -->
        <receiver android:name=".LocationBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <!-- LOCATION SERVICE -->
        <service android:name=".LocationService" />

        <!-- COMMERCIALCOOLDOWN RECEIVER -->
        <receiver android:name=".CommercialCooldownReceiver">

        </receiver>

        <!-- COMMERCIALCOOLDOWN SERVICE -->
        <service android:name=".CommercialCooldownService" />

        <!-- SCREENLOCK RECEIVER (two/new)
        <receiver android:name="com.trysurfer.surfer.receiver.ScreenLockReceiverTwo">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>-->

        <!-- SCREENLOCK BOOT RECEIVER (test) -->
        <receiver android:name="com.trysurfer.surfer.receiver.ScreenLockBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Add this activity with this theme -->
        <activity android:name="com.purplebrain.adbuddiz.sdk.AdBuddizActivity"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name=".screenlock.AdBuddizActivity"
            android:label="@string/app_name" />

        <activity
            android:name="com.adsdk.sdk.banner.InAppWebView"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.adsdk.sdk.video.RichMediaActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="false" />
        <activity
            android:name="com.adsdk.sdk.mraid.MraidBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".screenlock.MobFoxActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/TestTheme"/>

    </application>

</manifest>
